.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}

.Photos {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
